name: publish

on:
  push:
    branches:
      - master

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run init:ci
      - run: npm run build
      - run: npm run publish:ci
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
